ul{
    list-style-type: none;
    margin: 0;
    padding: 20;
    border-spacing: 10px;
    overflow: hidden;
    background-color: white;
}
div{
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 25px;
    padding-right: 25px;

}
li{

    float: right;
}

li a{
    display: inline-block;
    color: darkblue;
    text-align: center;
    padding: 5px 26px;
    text-decoration: none;
    font-size: 20px;
    

}
img{
    float: left;
    width: 100px;
    padding-left: 20px;
    padding-bottom: 200px;
    height: 100px;
}

.card{
    float: left;
    padding-top: 200px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,2);
    transition: 0.3s;
    border-radius: 12px;
   
}
.card :hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0,2);
}

.container{
   padding: 2px 14px;
}

h2{
    padding-bottom: 80px;
}
